

/* 
.preview-img {
    background: url('img/burger.jpg');
    background-size: cover;
    background-position: center;
}
 */


body{
    overflow-x: hidden;
}

.no-markup,
.no-markup:visited,
.no-markup:hover,
.no-markup:active,
.no-markup:focus,
.no-markup:active:hover {
    font-style: unset;
    color: unset;
    background-color: unset;
    font-size: unset;
    text-decoration: unset;
    font-variant: unset;
    font-weight: unset;
    line-height: unset;
    font-family: unset;
    border-radius: unset;
    border: unset;
    outline: unset;
    box-shadow: unset;
    padding: unset;
    vertical-align: unset;
}

.background-img {
    
    background: linear-gradient(
        rgba(255, 255, 255, 0.3), 
        rgba(127, 127, 127, 0.3)
      ),url('../img/burger.jpg'); 
    background-size: cover; 
    background-position: center;
}